* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
.img {
    background-image: url(./download\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 500px;
    position: relative;
    left: 30%;
    top: 10%;
}
.div2 {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: white;
    color: black;
    top: 400px;
    left: 150px;
    text-align: center;
}
button {
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: cyan;
    border: none;
    color: white;
    font-size: 20px;
}